<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Listing</title>
</head>
<body>

    <h3>Edit yourListing</h3>

    <form action="/listings/<%= listing._id %>?_method=PUT" method="POST">

        <!-- title -->
        <input name="listing[title]" value="<%= listing.title %>" type="text"><br><br>

        <!-- description -->
        <textarea name="listing[description]"><%= listing.description %></textarea><br><br>

        <!-- image -->
        <input name="listing[image][url]" value="<%= listing.image.url %>" type="text"><br><br>

        <!-- price -->
        <input name="listing[price]" value="<%= listing.price %>" type="number"><br><br>

        <!-- location -->
        <input name="listing[location]" value="<%= listing.location %>" type="text"><br><br>

        <!-- country -->
        <input name="listing[country]" value="<%= listing.country %>" type="text"><br><br>

        <button>Edit</button>

    </form>

</body>
</html>